<a href="https://colab.research.google.com/github/Thatsatul72/Credit-Card-Fraud-Detection/blob/main/Creditcardfrauddetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#loading the dataset to a pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
# Class 0 means valid transition  1 means fraud transition

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180351 entries, 0 to 180350
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    180351 non-null  float64
 1   V1      180351 non-null  float64
 2   V2      180351 non-null  float64
 3   V3      180351 non-null  float64
 4   V4      180351 non-null  float64
 5   V5      180351 non-null  float64
 6   V6      180351 non-null  float64
 7   V7      180351 non-null  float64
 8   V8      180351 non-null  float64
 9   V9      180350 non-null  float64
 10  V10     180350 non-null  float64
 11  V11     180350 non-null  float64
 12  V12     180350 non-null  float64
 13  V13     180350 non-null  float64
 14  V14     180350 non-null  float64
 15  V15     180350 non-null  float64
 16  V16     180350 non-null  float64
 17  V17     180350 non-null  float64
 18  V18     180350 non-null  float64
 19  V19     180350 non-null  float64
 20  V20     180350 non-null  float64
 21  V21     180350 non-null  float64
 22  V22     180350 non-null  float64
 23  V23     180350 non-null  float64
 24  V24     180350 non-null  float64
 25  V25     180350 non-null  float64
 26  V26     180350 non-null  float64
 27  V27     180350 non-null  float64
 28  V28     180350 non-null  float64
 29  Amount  180350 non-null  float64
 30  Class   180350 non-null  float64
dtypes: float64(31)
memory usage: 42.7 MB

In [ ]:
#checking the number of missing values in each columns
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card_data = credit_card_data.dropna()

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# distribution of legit transactions and fraud transactions
credit_card_data['Class'].value_counts()

0.0    179986
1.0       364
Name: Class, dtype: int64

This  dataset is highly Unbalanced
0->Normal Transaction
1->Fraud Transaction

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(179986, 31)
(364, 31)

In [ ]:
# statisical measures of data
legit.Amount.describe()

count    179986.00000
mean         88.19112
std         246.98978
min           0.00000
25%           5.74000
50%          22.24000
75%          77.93000
max       19656.53000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     364.000000
mean      116.743462
std       249.586886
min         0.000000
25%         1.000000
50%        11.395000
75%       104.030000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
1 # compare the values for both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,64325.261476,-0.133518,0.016479,0.446990,0.089890,-0.146387,0.057177,-0.057269,0.025063,0.021303,...,0.026267,-0.024279,-0.070453,-0.020042,0.007367,0.080854,0.010345,0.001693,0.002074,88.191120
1.0,57374.343407,-5.992428,4.358422,-7.940295,4.868038,-4.344519,-1.432647,-6.964458,0.747432,-2.847610,...,0.411224,0.796613,-0.019094,-0.042130,-0.072836,0.077923,0.036389,0.178167,0.048976,116.743462

Under Sampling
Build a sample dataset containing similar distributaion of nornaml and Fraudulent Transactions

Number of Fraudulent Transactions->364

In [ ]:
legit_sample = legit.sample(n=364)

Concatenating two dataframe

In [ ]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
71619,54367.0,-0.151237,0.353721,1.372238,-1.072816,-0.496732,-1.140834,0.459801,-0.281051,-1.489977,...,0.258975,0.804434,-0.279670,0.777723,0.307530,-0.128688,0.048109,0.048398,9.00,0.0
22956,32520.0,-7.265237,-8.704632,1.458271,-1.630168,4.616752,-4.844677,-3.189286,0.062207,0.767808,...,-0.400784,-0.503293,1.070866,0.579892,1.081431,-0.338864,-0.935310,2.387954,133.57,0.0
119676,75539.0,-1.295541,1.242368,1.565300,-1.407033,-0.381812,-0.479378,0.086132,-1.571468,-0.186547,...,1.521985,-0.505996,0.143329,0.561538,-0.355607,0.687694,0.217939,0.168708,23.08,0.0
39399,39819.0,-1.349717,1.630477,0.268187,1.149528,0.053455,0.367432,-0.141463,0.983998,-0.479086,...,-0.032642,0.117178,-0.208146,-0.734161,0.130288,-0.164929,0.315291,0.093100,7.95,0.0
3289,2834.0,1.250249,0.019063,-1.326108,-0.039059,2.232341,3.300602,-0.326435,0.757703,-0.156352,...,-0.009900,-0.189322,-0.157734,1.005326,0.838403,-0.315582,0.011439,0.018031,30.00,0.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    364
1.0    364
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,64258.228022,-0.021780,0.094831,0.569682,0.069485,-0.141115,-0.034490,0.034385,0.057947,0.002645,...,0.023675,-0.016402,-0.062462,-0.034083,0.012121,0.043706,-0.001951,0.023006,0.023661,79.150385
1.0,57374.343407,-5.992428,4.358422,-7.940295,4.868038,-4.344519,-1.432647,-6.964458,0.747432,-2.847610,...,0.411224,0.796613,-0.019094,-0.042130,-0.072836,0.077923,0.036389,0.178167,0.048976,116.743462

Splitting the data into features and targets

In [ ]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
71619    54367.0 -0.151237  0.353721  1.372238 -1.072816 -0.496732 -1.140834
22956    32520.0 -7.265237 -8.704632  1.458271 -1.630168  4.616752 -4.844677
119676   75539.0 -1.295541  1.242368  1.565300 -1.407033 -0.381812 -0.479378
39399    39819.0 -1.349717  1.630477  0.268187  1.149528  0.053455  0.367432
3289      2834.0  1.250249  0.019063 -1.326108 -0.039059  2.232341  3.300602
...          ...       ...       ...       ...       ...       ...       ...
167305  118603.0 -6.677212  5.529299 -7.193275  6.081321 -1.636071  0.500610
172787  121238.0 -2.628922  2.275636 -3.745369  1.226948 -1.132966 -1.256353
176049  122608.0 -2.003460 -7.159042 -4.050976  1.309580 -2.058102 -0.098621
177195  123078.0 -1.073820  0.415616 -2.273977  1.536844 -0.758697 -1.670381
178208  123525.0 -5.904921  4.439911 -8.631802  7.788684 -4.989580 -1.200144

              V7        V8        V9  ...       V20       V21       V22  \
71619   0.459801 -0.281051 -1.489977  ...  0.139615  0.258975  0.804434
22956  -3.189286  0.062207  0.767808  ... -0.655009 -0.400784 -0.503293
119676  0.086132 -1.571468 -0.186547  ... -0.298361  1.521985 -0.505996
39399  -0.141463  0.983998 -0.479086  ...  0.100390 -0.032642  0.117178
3289   -0.326435  0.757703 -0.156352  ...  0.033750 -0.009900 -0.189322
...          ...       ...       ...  ...       ...       ...       ...
167305 -4.640770 -4.339840 -0.950036  ... -1.118687  5.563301 -1.608272
172787 -1.752420  0.281736 -1.792343  ...  0.133106  0.870730  1.269473
176049  2.880083 -0.727484  1.460381  ...  3.973217  1.244287 -1.015232
177195 -2.377140  0.090370  0.004847  ...  0.227051  0.535542  0.863592
178208 -7.674060  4.125761 -5.315778  ... -0.505608  1.775030  1.266441

             V23       V24       V25       V26       V27       V28   Amount
71619  -0.279670  0.777723  0.307530 -0.128688  0.048109  0.048398     9.00
22956   1.070866  0.579892  1.081431 -0.338864 -0.935310  2.387954   133.57
119676  0.143329  0.561538 -0.355607  0.687694  0.217939  0.168708    23.08
39399  -0.208146 -0.734161  0.130288 -0.164929  0.315291  0.093100     7.95
3289   -0.157734  1.005326  0.838403 -0.315582  0.011439  0.018031    30.00
...          ...       ...       ...       ...       ...       ...      ...
167305  0.965322  0.163718  0.047531  0.466165  0.278547  1.471988   105.89
172787 -0.265494 -0.480549  0.169665  0.096081  0.070036  0.063768   144.62
176049 -1.800985  0.657586 -0.435617 -0.894509 -0.397557  0.314262  2125.87
177195  0.450743 -0.144228 -0.205609 -0.539073  0.503418 -0.237807    11.00
178208 -0.199410  0.014960 -0.000019  0.544210 -1.167566 -1.206354    45.51

[728 rows x 30 columns]

In [ ]:
print(Y)

71619     0.0
22956     0.0
119676    0.0
39399     0.0
3289      0.0
         ...
167305    1.0
172787    1.0
176049    1.0
177195    1.0
178208    1.0
Name: Class, Length: 728, dtype: float64

Split the data into training data and testing data

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(728, 30) (582, 30) (146, 30)

Model training

Logistic Regression

In [ ]:
model =  LogisticRegression()

In [ ]:
#training the logistic Regression Model with training data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evalution

Accuracy Score

In [ ]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.9450171821305842

In [ ]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.9726027397260274